params {

    help       = ''
    fasta      = '/home/FCAM/gbarrett/data/Grayling/references/GCA_004348285.1_ASM434828v1_genomic.fna'
    fai        = '/home/FCAM/gbarrett/data/Grayling/references/GCA_004348285.1_ASM434828v1_genomic.fna.fai'
    alignments = '/home/FCAM/gbarrett/data/Grayling/bwa/*.bam'
    winsize    = 100000000
    minQ       = '0'
    exclude    = ''
    fboptions  = '-m 10'
    outdir     = 'results'

}

profiles {

    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--qos=general'
    }

}