params {

    help       = false
    fasta      = false
    fai        = false
    bam        = false
    winsize    = '1000000'
    exclude    = ''
    fboptions  = ''
    outdir     = 'results'

}

profiles {

    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--qos=general'
    }

}