params {

    help       = ''
    fasta      = '/UCHC/PublicShare/fb_parallel_test_data/genome/*.fna'
    fai        = '/UCHC/PublicShare/fb_parallel_test_data/genome/*.fai'
    alignments = '/UCHC/PublicShare/fb_parallel_test_data/alignments/*.bam'
    winsize    = 10000000
    minQ       = '0'
    exclude    = ''
    fboptions  = ''
    outdir     = 'results'

}

profiles {

    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--qos=general'
    }

}